<div
    class="jumbotron bg-primary text-white vh-100 m-0 d-flex flex-column align-content-center justify-content-center background-img">
    <div class="d-flex flex-row justify-content-between align-items-center child-background-1">
        <a href="/article" class="text-white text-decoration-none"><span><i class="fas fa-arrow-circle-left"></i>
                Home</span></a>
        <a href="/article/seeArticle" class="text-white text-decoration-none"><span>See Articles<i
                    class="fas fa-arrow-circle-right"></i></span></a>
    </div>
    <div class="child-background-1">
        <h1 class="display-4 text-white font-weight-bold">Post Your Article</h1>
        <p class="lead">This is just practice<i class="far fa-smile"></i></p>
        <% include ./partials/message %>
        <hr class="my-4">
        <form method="POST" action="/article/addArticle">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control inp-opacity" id="title" placeholder="Title Name" name="title"
                    value="<%= typeof title != 'undefined' ? title : '' %>">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control inp-opacity" id="author" placeholder="Author Name" name="author"
                    value="<%= typeof author != 'undefined' ? author : '' %>">
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea class="form-control inp-opacity" id="body" rows="3" placeholder="Insert text here..."
                    name="body" value="<%= typeof body != 'undefined' ? body : '' %>"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>