<div
    class="jumbotron jumbotron-fluid mt-0 mb-0 vh-100 d-flex flex-column justify-content-center align-items-center align-contents-start background-img">
    <div class="position-relative">
        <h1>Date</h1>
    </div>
    <div
        class="d-flex flex-column justify-content-center align-items-center align-contents-start rounded p-4 child-background">
        <div class="container d-flex flex-column justify-content-center align-items-center align-contents-start">
            <h1 class="display-4 font-weight-bold">Article Post</h1>
            <p class="lead">This is just a practice <i class="far fa-smile"></i></p>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" href="/article">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" href="/article/addArticle">Add Article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" href="/article/seeArticle">See Articles</a>
            </li>
        </ul>
    </div>
</div>